{
  "scripts": [
    {
      "run": "before",
      "snippet": "select * from start; ",
      "fromModuleVersion": "mod-foo-18.2.2"
    },
    {
      "run": "after",
      "snippet": "select * from end; ",
      "fromModuleVersion": "mod-foo-18.2.1-SNAPSHOT.8"
    }
  ],
  "tables": [
    {
      "tableName": "groups",
      "generateId": true
    },
    {
      "tableName": "users",
      "generateId": true,
      "fromModuleVersion": 15.2,
      "populateJsonWithId": true,
      "withMetadata": true,
      "index": [
        {
          "fieldName": "group",
          "tOps": "ADD",
          "caseSensitive": false
        }
      ],
      "likeIndex": [
        {
          "fieldName": "username",
          "tOps": "ADD",
          "caseSensitive": false
        },
        {
          "fieldName": "type",
          "tOps": "ADD"
        }
      ],
      "ginIndex": [
        {
          "fieldName": "username",
          "tOps": "ADD",
          "caseSensitive": false,
          "removeAccents": true
        }
      ],
      "withAuditing": true,
      "pkColumnName": "id",
      "auditingSnippet": {
        "delete": {
          "declare": "injectedAction text;",
          "statement": "injectedAction = '\"deleted\"';OLD.jsonb = jsonb_set(OLD.jsonb, '{action}' , injectedAction::jsonb , false);"
        },
        "insert": {
          "declare": "injectedAction2 text;",
          "statement": "injectedAction2 = '\"inserted\"';NEW.jsonb = jsonb_set(NEW.jsonb, '{action}' , injectedAction2::jsonb , false);"
        }
      },
      "uniqueIndex": [
        {
          "fieldName": "username",
          "tOps": "ADD",
          "caseSensitive": false,
          "whereClause": "WHERE (jsonb->>'enabled')::boolean = true"
        },
        {
          "fieldName": "type",
          "tOps": "ADD",
          "stringType": false
        },
        {
          "fieldName": "barcode",
          "tOps": "ADD",
          "whereClause": "WHERE (jsonb->>'enabled')::boolean = true"
        },
        {
          "fieldName": "personal.phone",
          "tOps": "ADD"
        }
      ],
      "foreignKeys": [
        {
          "fieldName": "username",
          "targetTable": "users",
          "tOps": "ADD"
        }
      ],
      "customSnippetPath": "insertAsSelect.sql",
      "deleteFields": [
        {
          "fieldName": "a.b"
        }
      ],
      "addFields": [
        {
          "fieldName": "a.b",
          "defaultValue": "test"
        }
      ]
    }
  ],
  "views": [
    {
      "viewName": "users_groups_view",
      "mode": "new",
      "joinType": "JOIN",
      "join": [
        {
          "table": {
            "tableName": "users",
            "joinOnField": "patronGroup"
          },
          "joinTable": {
            "tableName": "groups",
            "joinOnField": "id",
            "jsonFieldAlias": "group_jsonb"
          }
        }
      ]
    },
    {
      "viewName": "users_groups_view2",
      "mode": "new",
      "joinType": "JOIN",
      "join": [
        {
          "table": {
            "tableName": "users",
            "joinOnField": "patronGroup"
          },
          "joinTable": {
            "tableName": "groups",
            "joinOnField": "id",
            "jsonFieldAlias": "group_jsonb"
          }
        },
        {
          "table": {
            "tableName": "groups",
            "joinOnField": "id",
            "jsonFieldAlias": "group2_jsonb"
          },
          "joinTable": {
            "tableName": "users",
            "joinOnField": "id",
            "jsonFieldAlias": "users_jsonb"
          }
        }
      ]
    },
    {
      "viewName": "items_mt_view",
      "mode": "new",
      "joinType": "LEFT JOIN",
      "join": [
        {
          "table": {
            "tableName": "item",
            "joinOnField": "materialTypeId"
          },
          "joinTable": {
            "tableName": "material_type",
            "joinOnField": "id",
            "jsonFieldAlias": "mt_jsonb"
          }
        }
      ]
    }
  ]
}