{
  "bib_data": [
    {
      "bib_id": "23344156380001021",
      "bib_view": {
        "Title": "Of Mice And Men",
        "Author": "J. Stienbeck",
        "publication_date": "1413879432450",
        "desc": "description"
      }
    }
  ]
}