{
  "item_data": [
    {
      "item_id": "23344156380001021",
      "barcode": "39031031697261",
      "location": {
        "value": "STACK",
        "desc": "Stacks (STACK)"
      },
      "status": {
        "value": "01",
        "desc": "ITEM_STATUS_MISSING"
      },
      "material_type": {
        "value": "BOOK",
        "desc": "Book",
        "icon": "book.png"
      },
      "shelf_location": {
        "classification_number": "1234567890",
        "shelf_listing_number": "12345678"
      },
      "copy_id": "1",
      "item_link": "/bibs/99100383909999/item/1234567890009999",
      "bib_id": "99100383909999"
    }
  ]
}