{
  "item_loan": [
    {
      "loan_id": "888888880000111",
      "circ_desk": {
        "value": "MAIN_CIRC",
        "desc": "Joe's Circulation Desk"
      },
      "library": {
        "value": "ULAW",
        "desc": "Main Library"
      },
      "patron_id": "Me123",
      "item_barcode": "000000055510000222",
      "item_id": "23344156380001021",
      "due_date": 1413813699999,
      "loan_status": "ACTIVE",
      "loan_date": 1403434999999,
      "loan_fine": 0,
      "title": "History today",
      "author": "me",
      "description": "",
      "publication_year": 2000,
      "call_number": "1234567890",
      "renewable": false,
      "location_code": {
        "value": "1234567890",
        "name": "1234567890"
      },
      "item_policy": {
        "value": 2,
        "description": "2 Week Loan"
      }
    }
  ],
  "total_record_count": 1
}