{
  "patron":[
    {
	"status": "ACTIVE",
	"patron_id": "test3355",
	"patron_name": "Smith,John",
	"patron_barcode": "00007888",
	"patron_local_id": "abcdefd",
	"contact_info": {
		"patron_address_local": {
			"line1": "Main Street 1",
			"line2": "Nice building near the corner",
			"city": "London",
			"state_province": "",
			"postal_code": "",
			"address_note": "",
			"start_date": "2013-12-26Z"
		},
		"patron_address_home": {
			"line1": "Main Street 1",
			"line2": "Nice building near the corner",
			"city": "London",
			"state_province": "",
			"postal_code": "",
			"address_note": "",
			"start_date": "2013-12-26Z"
		},
		"patron_address_work": {
			"line1": "Main Street 1",
			"line2": "Nice building near the corner",
			"city": "London",
			"state_province": "",
			"postal_code": "",
			"address_note": "",
			"start_date": "2013-12-26Z"
		},
		"patron_email": "johns@mylib.org",
		"patron_email_alternative": "johns@mylib.org",
		"patron_phone_cell": "123456789",
		"patron_phone_home": "123456789",
		"patron_phone_work": "123456789",
		"patron_primary_contact_info": "patron_email"
	},
	"total_loans": 50,
	"total_fines": "100$",
	"total_fines_paid": "0$",
	"patron_code": {
		"value": "CH",
		"description": "Child"
	}
    }
  ],
	"total_records": 1
}